
.social-footer {
    padding: 1rem;
    background: #8a8a8a;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: justify;
            justify-content: space-around;
  }
  
  .social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
  }
  
  .social-footer .social-footer-icons .fab {
    font-size: 2.3rem;
    color: #fefefe;
  }
  
  .social-footer .social-footer-icons .fab:hover {
    color: #4a4a4a;
    transition: color 0.8s ease-in;
  }
  
  .orbit-container {
      margin: 3rem ;
  }
  
  .orbit-previous {
    color: black;
    font-size: 1.5rem;
  }

  .orbit-next {
    color: black;
    font-size: 1.5rem;
  }

  .center-children {
    text-align: center;
  }


.mobile-app-filter-menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin: 0;
    height: 2.8125rem;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
  }
  
  .mobile-app-filter-menu li a {
    color: #cacaca;
  }
  
  .mobile-app-filter-menu li.is-active a {
    color: #8a8a8a;
  }
  
  